Course Work/PAUL YOUG/Assignment_3/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="title">
            <xs:simpleType>
                  <xs:restriction base="xs:string">
                        <xs:enumeration value="Moby Dick"/>
                        <xs:enumeration value="Sayings of the Century"/>
                        <xs:enumeration value="Sword of Honour"/>
                        <xs:enumeration value="The Lord of the Rings"/>
                  </xs:restriction>
            </xs:simpleType>
      </xs:element>
      <xs:element name="price">
            <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                        <xs:enumeration value="12.99"/>
                        <xs:enumeration value="22.99"/>
                        <xs:enumeration value="8.95"/>
                        <xs:enumeration value="8.99"/>
                  </xs:restriction>
            </xs:simpleType>
      </xs:element>
      <xs:element name="books">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="book" maxOccurs="unbounded"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
      <xs:element name="book">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element ref="author"/>
                        <xs:element ref="title"/>
                        <xs:element ref="price"/>
                  </xs:sequence>
                  <xs:attribute name="category" use="required">
                        <xs:simpleType>
                              <xs:restriction base="xs:string">
                                    <xs:enumeration value="fiction"/>
                                    <xs:enumeration value="reference"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
      </xs:element>
      <xs:element name="author">
            <xs:simpleType>
                  <xs:restriction base="xs:string">
                        <xs:enumeration value="Evelyn Waugh"/>
                        <xs:enumeration value="Herman Melville"/>
                        <xs:enumeration value="J. R. R. Tolkien"/>
                        <xs:enumeration value="Nigel Rees"/>
                  </xs:restriction>
            </xs:simpleType>
      </xs:element>
</xs:schema>